/* ===== Обнуление стилей CSS ===== */
@import "./normalize.css";




/* ===== Подключение шрифтов ===== */

// Gilroy regular - 400
@font-face {
	font-family: 'Gilroy';
	font-style: normal;
	font-weight: 400;
	src: local('Gilroy Regular'), local('Gilroy-Regular'),
		url('../fonts/Gilroy-Regular.woff2') format('woff2'),
		url('../fonts/Gilroy-Regular.woff') format('woff');
}

// Gilroy semibold - 600
@font-face {
	font-family: 'Gilroy';
	font-style: normal;
	font-weight: 600;
	src: local('Gilroy Semibold'), local('Gilroy-Semibold'),
		url('../fonts/Gilroy-Semibold.woff2') format('woff2'),
		url('../fonts/Gilroy-Semibold.woff') format('woff');
}

// Gilroy bold - 700
@font-face {
	font-family: 'Gilroy';
	font-style: normal;
	font-weight: 700;
	src: local('Gilroy Bold'), local('Gilroy-Bold'),
		url('../fonts/Gilroy-Bold.woff2') format('woff2'),
		url('../fonts/Gilroy-Bold.woff') format('woff');
}

// Gilroy extrabold - 800
@font-face {
	font-family: 'Gilroy';
	font-style: normal;
	font-weight: 800;
	src: local('Gilroy Extrabold'), local('Gilroy-Extrabold'),
		url('../fonts/Gilroy-Extrabold.woff2') format('woff2'),
		url('../fonts/Gilroy-Extrabold.woff') format('woff');
}




// ===== Определение переменных =====

// Шрифт
$main-font: 'Gilroy',
sans-serif;

// Цвет текста для тёмных блоков
$light-color: #fff;

// Цвет текста для светлых блоков
$dark-color: #4f4f4f;

// Цвет текста для светлых кнопок
$light-btn: #7892ff;

// Цвет фона для тёмных блоков
$bg-dark: linear-gradient(97.4deg, #CCA5FF 0%, #A1ABFF 48.96%, #60B4FF 100%),
#C4C4C4;

// Цвет фона для светлых блоков
$bg-light: #f8fbff;

// Цвет фона для светлых кнопок
$bg-btn-light: #fff;

// Цвет фона для тёмных кнопок и иконок
$bg-btn-dark: #7892ff;

// Отступы в блоках
$block-padding: 140px 0;

// Отступы в блоках для планшетов
$block-padding-tablet: 110px 0;

// Отступы в блоках для телефонов
$block-padding-phone: 70px 0;

// Ширина контейнера для десктопа
$container-width: 1200px;




/* ===== Основные стили ===== */

html {
	box-sizing: border-box;
}

*,
::after,
::before {
	box-sizing: inherit;
}

body {
	font-family: $main-font, sans-serif;
	color: $light-color;
}

a {
	text-decoration: none;

	&:focus {
		outline: none;
	}
}

.container {
	width: $container-width - 20px;
	margin: 0 auto;
	padding: 0 10px;
}

.btn {
	width: 210px;
	height: 54px;
	border: none;
	border-radius: 70px;
	outline: none;

	&:focus {
		outline: none;
	}

	font-family: $main-font, sans-serif;
	font-weight: 700;
	font-size: 16px;
	line-height: 19px;
}

.block__title {
	margin-bottom: 30px;
	font-weight: 800;
	font-size: 32px;
	line-height: 133.1%;
	color: $dark-color;
	text-align: center;
}

.block__text {
	max-width: 950px;
	margin: 0 auto 60px;
	font-weight: 400;
	font-size: 16px;
	line-height: 130%;
	color: $dark-color;
	text-align: center;
}

.block__subtitle {
	font-weight: 600;
	font-size: 16px;
	line-height: 19px;
	color: $dark-color;
	text-align: center;
}




/* ===== Стили header ===== */

.header {
	position: relative;
	overflow: hidden;
	width: 100%;
	height: 100vh;
	min-height: 815px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding-top: 60px;
	background: $bg-dark;
}

// .header .container {
// 	height: 100%;
// 	display: flex;
// 	flex-direction: column;
// 	justify-content: space-between;
// }

.header__top {
	position: relative;
	z-index: 1000;
	margin-bottom: 160px;
}

.header__top .container {
	position: relative;
}

.header__nav {
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
}

.header__logo {
	position: relative;
	margin-right: 55px;
	top: -15px;

	& img {
		display: block;
		width: 100%;
		height: auto;
	}

	& a {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;

	}
}

.header__navbar {
	display: flex;
	justify-content: center;
	align-items: center;
}

.header__navLink {
	position: relative;
	margin-right: 55px;
	color: $light-color;
	font-size: 18px;
	font-weight: 600;

	&:last-child {
		margin-right: 0;
	}

	&::after{
		position: absolute;
		left: 0;
		bottom: -10px;
		opacity: 0;
		content: "";
		height: 2px;
		width: 100%;
		background-color: #fff;
		transition: all .2s linear;
	}

	&:hover::after {
		opacity: 1;
	}
}

.header__socialInBurger {
	display: none;
}

.header__phone {
	position: absolute;
	top: 0;
	right: 2px;
	display: flex;
	align-items: center;

	& img {
		margin-right: 10px;
	}

	& span {
		color: $light-color;
		font-size: 18px;
		font-weight: 600;
	}

	&::after{
		position: absolute;
		left: 0;
		bottom: -10px;
		opacity: 0;
		content: "";
		height: 2px;
		width: 100%;
		background-color: #fff;
		transition: all .2s linear;
	}

	&:hover::after {
		opacity: 1;
	}
}

// Выпадающее меню

.header__forHouse,
.header__forOffice,
.header__forCar,
.header__about {
	position: absolute;
	top: 40px;
	left: 205px;
	z-index: 100;
	display: none;
	padding: 60px 91px 60px 60px;
	background:rgba(255, 255, 255, 0.77);
	backdrop-filter: blur(30px);
	border-radius: 0px 0px 5px 5px;
}

.header__forOffice {
	left: 345px;
}

.header__forCar {
	left: 490px;
}

.header__about {
	left: 620px;
}

.header__forHouse.show,
.header__forOffice.show,
.header__forCar.show,
.header__about.show {
	display: flex;
	justify-content: space-between;
}

.header__forHouseBack,
.header__forOfficeBack,
.header__forCarBack,
.header__aboutBack {
	position: absolute;
	top: 60px;
	left: 60px;
	display: none;
	cursor: pointer;

	

	& img {
		display: inline-block;
		margin-right: 20px;
	}

	& p {
		display: inline-block;
		font-weight: 600;
		font-size: 16px;
		line-height: 19px;
		background: linear-gradient(97.4deg, #cca5ff 0%, #A1ABFF 48.96%, #60B4FF 100%), #C4C4C4;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		color: #CCA5FF;
	}
}


.header__menuMobile {
	display: none;
}

.header__menuItem {

	&:nth-child(2) {
		max-width: 159px;
		margin-right: 60px;
	}

	&:nth-child(3) {
		max-width: 220px;
		margin-right: 50px;	
	}

	&:nth-child(4) {
		max-width: 189px;
		margin-right: 0;
	}
}

.header__mobileBack {
	display: none;
}

.header__firstMenuLink,
.header__mobileLink {
	display: block;	
	color: $dark-color;
	margin-bottom: 20px;
	font-size: 16px;
	font-weight: 600;
	line-height: 19px;
	
	&:hover {
		background: linear-gradient(97.4deg, #cca5ff 0%, #A1ABFF 48.96%, #60B4FF 100%), #C4C4C4;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		color: #CCA5FF;
	}

	&:hover::before {
		content: "\2014";
		margin-right: 10px;
	}
}

.header__menuLink {
	display: block;
	margin-bottom: 16px;
	color: $dark-color;
	font-weight: 500;
	font-size: 14px;
	line-height: 16px;

	&:last-child {
		margin-bottom: 0;
	}

	&:hover {
		background: linear-gradient(97.4deg, #cca5ff 0%, #A1ABFF 48.96%, #60B4FF 100%), #C4C4C4;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		color: #CCA5FF;
	}

	&:hover::before {
		content: "\2014";
		margin-right: 10px;
	}
}

// Социальные сети

.header__social {
	position: absolute;
	z-index: 300;
	top: 251px - 60px;
	right: 60px;
	width: 34px;
}

.header__socialItem {
	position: relative;
	width: 34px;
	height: 34px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 20px;
	background-color: $bg-btn-dark;
	border-radius: 50%;
	transition: all .2s linear;

	& a {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}

	&:hover{
		background-color: $bg-btn-light;
	}
}

// центральный блок

.header__main {
	position: relative;
	z-index: 200;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	margin: 0 auto 140px;
	text-align: center;
}

.header__main .container {
	position: relative;
}


.header__title {
	width: 100%;
	margin-bottom: 12px;
	font-weight: 800;
	font-size: 74px;
	line-height: 116.1%;
	letter-spacing: 0.04em;
}

.header__subtitle {
	width: 100%;
	margin-bottom: 30px;
	padding: 0 17.58%;
	font-size: 16px;
	line-height: 130%;
}

.header__btn {
	position: relative;
	z-index: 100;
	color: $light-btn;
	background-color: $bg-btn-light;
	transition: all .2s linear;

	&:hover {
		color: $light-color;
		background-color: $bg-btn-dark;
	}
}


// Калькулятор

.header__calc {
	position: relative;
	z-index: 100;
	display: flex;
	align-items: center;
	// width: 100%;
	width: 1180px;
	margin: 0 auto;
	padding: 60px;
}

.header__calcBg {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 2;
	background: $bg-dark;
}

.header__form {
	position: relative;
	z-index: 3;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
}

.header__cleaning,
.header__counter,
.header__clientsNumber {
	position: relative;
	&::after {
		position: absolute;
		left: 0;
		bottom: -10px;
		content: "";
		height: 1px;
		width: 100%;
		background-color: #f4f6ff;
	}
}

.header__options,
.header__counter input,
.header__clientsNumber input {
	font-family: $main-font;	
	font-size: 16px;
	line-height: 20px;
	font-weight: 600;
	color: $light-color;
	background-color: transparent;
	border: none;
}

.header__cleaning {
	width: 232px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header__options {
	padding-right: 30px;
	appearance: none;
	background: url(../img/header/arrow-down.svg) right 7px no-repeat;
	cursor: pointer;
	& option {
		color: $dark-color;
	}
}

.header__counter {
	display: flex;
	justify-content: space-between;
	align-items: center;	
	width: 155px;

	& .header__value {
		display: flex;
		justify-content: center;
		align-items: center;
		margin-right: 25px;
		font-size: 16px;
		font-weight: 600;
	}

	& input {
		width: 45px;
		text-align: right;
	}

	& span {
		font-size: 10px;
		vertical-align: super;
	}
}

.header__decreaseCount,
.header__increaseCount {
	width: 14px;
	height: 14px;
	cursor: pointer;
}

.header__clientsNumber {
	width: 195px;
	& input{
		width: 100%;
	}
	& input::placeholder {
		color: $light-color;
	}
}

.header__submit {
	color: #fff;
	background-color: $bg-btn-dark;
	transition: all .2s linear;

	&:hover {
		color: $light-btn;
		background-color: $bg-btn-light;
	}
}




/* ===== Стили about ===== */

.about {
	padding: $block-padding;
	background-color: $bg-light;
}

.about__subtitle {
	margin-bottom: 30px;
}

.about__wrapper {
	display: flex;
	justify-content: space-between;
	background: $bg-dark;
	border-radius: 5px;
}

.about__item {
	width: 23.7%;
	padding: 39px 0 41px;
}

.about__lightVerticalBox {
	width: 1.7%;
	background: $bg-light;
}

.about__logo {
	position: relative;
	width: 108px;
	height: 108px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 auto 20px;
	border-radius: 50%;
	background: rgba(255, 255, 255, 0.7);
	backdrop-filter: blur(30px);

}

.about__logoWrapper {
	width: 49px;
	height: 49px;

	& img {
		display: block;
		width: 100%;
		height: auto;
		filter: drop-shadow(4px 3px 7px rgba(162, 204, 255, 0.9));
	}
}

.about__desctiption {
	color: $light-color;
	font-weight: 400;
	line-height: 130%;
}




/* ===== Стили history ===== */

.history {
	position: relative;
	padding: $block-padding;
	background: $bg-dark;
	overflow: hidden;
}
.history .container {
	position: relative;
	z-index: 2;
}

.history__wrapper {
	display: flex;
	justify-content: center;
}

.history__imgWrapper {
	width: 43.22%;
	margin-right: 7.62%;
}

.history__image {
	padding: 12px;
	background: #C4C4C4, linear-gradient(180deg, rgba(181, 168, 255, 0.05) 0%, rgba(255, 255, 255, 0) 100%);
	box-shadow: -8px -3px 16px #CAB2FD, 8px 4px 18px #979DFF;
	border-radius: 5px;

	& img {
		display: block;
		width: 100%;
		height: auto;
		border-radius: 5px;
	}
}

.history__description {
	width: 49.15%;
	align-self: center;
}

.history__title {
	text-align: left;
	color: $light-color;
}

.history__text {
	margin-bottom: 20px;
	text-align: left;
	line-height: 130%;
	color: $light-color;

	&:last-child {
		margin-bottom: 0;
	}
}

.history__show,
.history__hide {
	display: none;
	cursor: pointer;
}




/* ===== Стили services ===== */

.services {
	padding: $block-padding;
	padding-bottom: 0;
	background-color: $bg-light;
}

.services__wrapper {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	max-width: 880px;
	margin: 0 auto;
	align-items: stretch;
}

.services__item {
	width: 31.8%;
	min-height: 271px;
	margin-right: 20px;
	margin-bottom: 20px;
	color: $dark-color;
	background-color: $bg-light;
	box-shadow: 9px 9px 16px rgba(189, 196, 255, 0.25), -9px -9px 16px #FFFFFF;
	border-radius: 5px;

	&:nth-child(3n+3){
		margin-right: 0;
	}

	// &:nth-child(7),
	// &:nth-child(8),
	// &:nth-child(9) {
	// 	margin-bottom: 20px;
	// }
}

// .services__picWrapper {
// 	position: relative;
// 	margin: 0 auto;
// 	padding-bottom: 157px;

// 	& img {
// 		position: absolute;
// 		top: 50%;
// 		left: 50%;
// 		transform: translate(-50%, -50%);
// 	}
// }

.services__picWrapper {
	margin: 0 auto;
	height: 157px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.services__img {
	display: block;
}

.servises__picNumber {
	display: none;
}

.services__description {
	padding: 0 30px 66px 30px;
	text-align: center;
}




/* ===== Стили additional ===== */

.additional {
	padding: $block-padding;
	color: $dark-color;
	background-color: $bg-light;
}

.additional__text {
	text-align: center;
	margin-bottom: 60px;
}

.additional__wrapper {
	display: flex;
	justify-content: space-between;
}

.additional__item {
	margin-right: 20px;

	&:last-child {
		margin-right: 0;
	}
}

.additional__logo {
	width: 108px;
	height: 108px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 auto 20px;
	border-radius: 50%;
	background: $bg-btn-dark;
	box-shadow: inset 0px -4px 4px #6D86F0, inset 0px 4px 4px #6D86F0;

}




/* ===== Стили principles ===== */

.principles {
	position: relative;
	padding: $block-padding;
	background: $bg-dark;
	overflow: hidden;
}

.principles .container {
	position: relative;
	z-index: 2;
}

.principles__wrapper {
	display: flex;
	justify-content: center;
}

.principles__imgWrapper {
	width: 43.22%;
	margin-right: 7.62%;
}

.principles__image {
	padding: 12px;
	background: #C4C4C4, linear-gradient(180deg, rgba(181, 168, 255, 0.05) 0%, rgba(255, 255, 255, 0) 100%);
	box-shadow: -8px -3px 16px #CAB2FD, 8px 4px 18px #979DFF;
	border-radius: 5px;

	& img {
		display: block;
		width: 100%;
		height: auto;
		border-radius: 5px;
	}
}

.principles__description {
	width: 49.15%;
	align-self: center;
}

.principles__title {
	width: 94.31%;
	text-align: left;
	color: $light-color;
}

.principles__text {
	width: 82.75%;
	margin-left: 0;
	margin-bottom: 20px;
	text-align: left;
	line-height: 130%;
	color: $light-color;

	&:last-child {
		margin-bottom: 0;
	}
}

.principles__show,
.principles__hide {
	display: none;
	cursor: pointer;
}




/* ===== Стили general ===== */

.general {
	padding: $block-padding;
	padding-bottom: 0;
	background-color: $bg-light;
	color: $dark-color;
}

.general__text {
	max-width: 750px;
}

.general__wrapper {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	max-width: 880px;
	margin: 0 auto;
}

.general__item {
	min-height: 162px;
	width: 31.8%;
	background: #F8FBFF;
	box-shadow: 6px 6px 7px rgba(189, 196, 255, 0.23), -11px -11px 16px #FFFFFF;
	border-radius: 5px;
	margin-right: 20px;
	margin-bottom: 20px;
	padding-top: 30px;
	// padding: 30px 20px 33px;

	&:nth-child(3n+3) {
		margin-right: 0;
	}

	// &:nth-child(4),
	// &:nth-child(5),
	// &:nth-child(6) {
	// 	margin-bottom: 0;
	// }
}

.general__logo {
	width: 48px;
	height: 48px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 auto 33px;

	& img {
		display: block;
		width: 100%;
		height: auto;
	}
}

.general__description {
	text-align: center;
	padding: 0 20px 33px;
}




/* ===== Стили advantages ===== */

.advantages {
	padding: $block-padding;
	background-color: $bg-light;
	color: $dark-color;
}

.advantages__title {
	max-width: 574px;
	margin: 0 auto 30px;
}

.advantages__wrapper {
	display: flex;
}

.advantages__subtitle {
	margin-bottom: 60px;
}

.advantages__item {

	&:first-child {
		width: 54.23%;
		margin-right: 5.08%;
		padding: 60px 50px 55px;
		box-shadow: 9px 9px 16px rgba(189, 196, 255, 0.25), -9px -9px 16px #FFFFFF;
		border-radius: 5px;
	}

	&:last-child {
		width: 40.67%;
		align-self: center;
	}

	& .advantages__text {
		margin-bottom: 20px;
		text-align: left;
	}

	& .advantages__text:last-child {
		margin-bottom: 0;
	}
}

.advantages__slider {
	margin-bottom: 20px;
}

.advantages__sliderLogo {
	width: 69px;
	height: 69px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 auto 20px;
	background: $bg-btn-dark;
	border-radius: 10px;
}

.advantages__sliderDescription {
	font-weight: 400;
	font-size: 16px;
	line-height: 130%;
	text-align: center;
	// word-break: break-all;
}

.advantages__sliderNav {
	display: flex;
	justify-content: center;
}

.advantages__arrow {
	cursor: pointer;
	transition: all .3s linear;

	&:hover svg {
		fill: $bg-btn-dark;
		& path {
		stroke: $bg-btn-dark;
		fill: $bg-btn-dark;
		}
	}

	&:first-child {
		margin-right: 13px;
	}
}

.advantages__show,
.advantages__hide {
	display: none;
	cursor: pointer;
}




/* ===== Стили eco ===== */

.eco {
	position: relative;
	padding: $block-padding;
	background: $bg-dark;
	overflow: hidden;
}

.eco .container {
	position: relative;
	z-index: 2;
}

.eco__imgWrapper {
	display: none;
}

.eco__title {
	max-width: 366px;
	margin: 0 auto 30px;
	color: $light-color;
}

.eco__text {
	color: $light-color;
}

.eco__wrapper {
	max-width: 893px;
	display: flex;
	justify-content: space-between;
	margin: 0 auto;
}

.eco__item {

	&:first-child {
		width: 50.83%;
		align-self: center;
	}

	&:last-child {
		width: 37.29%;
		padding: 12px;
		box-shadow: -5px -4px 16px #A9B9FF, 5px 4px 23px #6FA1FE;
		border-radius: 5px;
	}

	&:last-child img {
		border-radius: 5px;
		width: 100%;
		height: auto;
	}
}

.eco__subtitle {
	margin-bottom: 19px;
	text-align: left;
	color: $light-color;
}

.eco__description {
	margin-bottom: 0;
	text-align: left;
	color: $light-color;
}

.eco__show,
.eco__hide {
	display: none;
	cursor: pointer;
}




/* ===== Стили minset ===== */

.minset {
	padding: $block-padding;
	padding-bottom: 0;
	background: $bg-light;
}

.minset__wrapper {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.minset__item {
	width: 49.15%;
	display: flex;
	justify-content: space-between;
	margin-bottom: 20px;
	padding: 89px 60px 89px 45px;
	box-shadow: 9px 9px 16px rgba(189, 196, 255, 0.25), -9px -9px 16px #FFFFFF;
	border-radius: 5px;
	
	&:nth-child(1),
	&:nth-child(3) {
		margin-right: 1.69%;
	}

	&:nth-child(3),
	&:nth-child(4) {
		margin-bottom: 0;
		padding: 59px 60px 58px 45px;
	}
}

.minset__picWrapper {	
	width: 23.35%;
	margin-right: 9.26%;
}

.minset__pic {
	padding: 5px;
	box-shadow: -4px -4px 4px #FFFFFF, 4px 4px 8px rgba(189, 196, 255, 0.25);

	& img {
		display: block;
		width: 100%;
		height: auto;
	}
}

.minset__description {
	width: 67.36%;
}

.minset__subtitle {
	margin-bottom: 18px;
	text-align: left;
}

.minset__info {
	text-align: left;
}

.minset__show,
.minset__hide {
	display: none;
	cursor: pointer;
}




/* ===== Стили order ===== */

.order {
	padding: $block-padding;
	background: $bg-light;
}

.order__wrapper {
	display: flex;
	justify-content: space-between;
}

.order__item {

	&:first-child {
		width: 49.06%;
		margin-right: 1.69%;
	}

	&:last-child {
		width: 49.23%;
	}
}

.order__title {
	text-align: left;
}

.order__text {
	margin-bottom: 0;
	text-align: left;
}

.order__step {
	display: flex;
	justify-content: space-between;
	margin-bottom: 20px;

	&:last-child {
		margin-bottom: 0;
	}

	& .order__text {
		width: 89.15%;
	}
}

.order__logo {
	width: 38px;
	height: 38px;
	display: flex;
	justify-content: center;
	align-items: center;
	background: $bg-btn-dark;
	border-radius: 5px;
}




/* ===== Стили rightnow ===== */

.rightnow {
	position: relative;
	padding: $block-padding;
	background: $bg-dark;
	overflow: hidden;
}

.rightnow .container{
	position: relative;
	z-index: 2;
}

.rightnow__wrapper {
	max-width: 1136px;
	margin: 0 auto;
	display: flex;
	justify-content: center;
}

.rightnow__item {

	&:first-child {
		width: 33.45%;
		align-self: center;
		margin-right: 10.47%;
	}

	&:last-child {
		width: 56.07%;
		padding: 12px;
		background: #C4C4C4, linear-gradient(180deg, rgba(225, 230, 252, 0.448) 0%, rgba(196, 211, 255, 0.056) 100%);
		box-shadow: -8px -4px 16px #ACB0FF, 8px 4px 18px #76A5FF;
		border-radius: 5px;
	
		& img {
			display: block;
			width: 100%;
			height: auto;
			object-fit: cover;
			border-radius: 5px;
		}
	}
}

.rightnow__title {
	margin-bottom: 20px;
	color: $light-color;
}

.rightnow__subtitle {
	margin-bottom: 60px;
	color: $light-color;
	text-align: left;
}

.rigthnow__name,
.rigthnow__phone {
	position: relative;
	&::after {
		position: absolute;
		left: 0;
		bottom: -10px;
		content: "";
		height: 1px;
		width: 100%;
		background-color: #f2f2f2;
	}
}

.rigthnow__name {
	margin-bottom: 40px;
}

.rigthnow__phone {
	margin-bottom: 50px;
}

.rigthnow__name input,
.rigthnow__phone input {
	width: 100%;
	background-color: transparent;
	border: none;	
	font-family: $main-font;	
	font-size: 16px;
	line-height: 130%;
	color: #f2f2f2;

	&::placeholder {
	color: #f2f2f2;
	}
}

.rightnow__btn {
	width: 100%;
	color: $light-btn;
	background-color: $bg-btn-light;
	transition: all .2s linear;
	
	&:hover {
		color: $light-color;
		background-color: $bg-btn-dark;
	}
}




/* ===== Стили footer ===== */

.footer {
	padding: $block-padding;
	padding-bottom: 0;
	background-color: $bg-light;
}

// .footer__info {
// 	background-color: $bg-light;
// }

.footer__infoWrapper {
	display: flex;
	justify-content: space-between;
	margin-bottom: 30px;
}

.footer__logo {
	width: 15.25%;
	margin-right: 10.17%;

	& img {
		display: block;
		width: 100%;
		height: auto;
	}
}

.footer__services {
	width: 8.47%;
	margin-right: 8.47%;
}

.footer__subtitle {
	color: #000;
	margin-bottom: 10px;
	text-align: left;
}

.footer__link {
	display: block;
	margin-bottom: 10px;
	text-align: left;
	line-height: 16px;

	&:last-child {
		margin-bottom: 0;
	}
}

.footer__about {
	width: 7.78%;
	margin-right: 9.17%;
}

.footer__contacts {
	width: 16.25%;
	margin-right: 9.17%;
}

.footer__tel,
.footer__mode {
	display: flex;
	justify-content: flex-start;
	margin-bottom: 10px;
}

.footer__mode {
	margin-bottom: 30px;
}

.footer__tel a,
.footer__mode p {
	margin: 0;
	line-height: 16px;
	text-align: left;
}

.footer__telImg,
.footer__modeImg {
	width: 9px;
	height: 9px;
	margin-right: 5px;

	& img {
		display: block;
		justify-content: center;
		align-items: center;
	}
}

.footer__modeImg {
	width: 11px;
	height: 11px;
	margin-right: 11px;
}

.footer__social {
	display: flex;
	justify-content: space-between;
}

.footer__socialItem {
	position: relative;
	width: 22px;
	height: 22px;
	display: flex;
	justify-content: center;
	align-items: center;
	// margin-right: 17px;
	background-color: $bg-btn-dark;
	border-radius: 50%;

	&:last-child {
		margin-right: 0;
	}

	& a {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
	}
}

.footer__socialPicWrapper {
	width: 10px;
	height: auto;

	& img {
		display: block;
		width: 100%;
		height: auto;
	}
}

.footer__company {
	width: 15.25%;
	margin-bottom: 0;
	text-align: right;
}

.footer__company.block__text {
	margin: 0;
}

.footer__devInfo {
	background: $bg-dark;
	padding: 15px 0;
}

.footer__devInfoWrapper,
.footer__other {	
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.footer__devCompany,
.footer__politics,
.footer__copyright {	
	font-weight: 400;
	font-size: 14px;
	line-height: 130%;
	color: $light-color;
}

.footer__devCompany strong {
font-weight: 700;
}

.footer__politics {
	margin-right: 60px;
}




/* ===== Анимационные эффекты ===== */

// Первая анимация для шаров

@keyframes firstBall {
	0% {
		transform: translate(0, 0);
	}
	25% {
		transform: translate(7%, 12%);
	}
	50% {
		transform: translate(0, 7%);
	}
	75% {
		transform: translate(7%, -7%);
	}
	100% {
		transform: translate(0, 0);
	}
}

// Вторая анимация для шаров

@keyframes secondBall {
	0% {
	transform:  translate(0, 0)  ;
	}
	10% {
	transform:  translate(-10%, -10%)  ;
	}
	20% {
	transform:  translate(-20%,0)  ;
	}
	30% {
	transform:  translate(-30%,-10%)  ;
	}
	40% {
	transform:  translate(-20%,-20%)  ;
	}
	50% {
	transform:  translate(-10%, -10%)  ;
	}
	60% {
	transform:  translate(0, 0)  ;
	}
	70% {
	transform:  translate(10%, 10%)  ;
	}
	80% {
	transform:  translate(0, 20%)  ;
	}
	90% {
	transform:  translate(-10%, 10%)  ;
	}
	100% {
	transform:  translate(0, 0)  ;
	}
}

// Третий вариант анимации для шаров

@keyframes thirdBall {
	0% {
		transform: translate(0, 0);
	}
	25% {
		transform: translate(15%, 15%);
	}
	50% {
		transform: translate(0, 10%);
	}
	75% {
		transform: translate(12%, -12%);
	}
	100% {
		transform: translate(0, 0);
	}
}

// Анимация тряски
@keyframes shake {
	0% { -webkit-transform: translate(2px, 1px) rotate(0deg); }
	10% { -webkit-transform: translate(-1px, -2px) rotate(-1deg); }
	20% { -webkit-transform: translate(-3px, 0px) rotate(1deg); }
	30% { -webkit-transform: translate(0px, 2px) rotate(0deg); }
	40% { -webkit-transform: translate(1px, -1px) rotate(1deg); }
	50% { -webkit-transform: translate(-1px, 2px) rotate(-1deg); }
	60% { -webkit-transform: translate(-3px, 1px) rotate(0deg); }
	70% { -webkit-transform: translate(2px, 1px) rotate(-1deg); }
	80% { -webkit-transform: translate(-1px, -1px) rotate(1deg); }
	90% { -webkit-transform: translate(2px, 2px) rotate(0deg); }
	100% { -webkit-transform: translate(1px, -2px) rotate(-1deg); }
}


/*======= Применение анимации ======*/


// Бутылки в header

.header__bottles {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.header__bottleWrapper1,
.header__bottleWrapper2,
.header__bottleWrapper3 {
	position: absolute;

	& img:first-child {
		display: block;
		width: 100%;
		height: auto;
	}

	& img:last-child {
		display: none;
	}

	& img:hover {
		cursor: pointer;
		animation: shake  0.8s 1 linear;
	}

}

.header__bottleWrapper1 {
    width: 146px;
    bottom: -50%;
    left: 50px;
}

.header__bottleWrapper2 {
	width: 155px;
	bottom: -96%;
	left: 64%;
}

.header__bottleWrapper3 {
	width: 86px;
	bottom: 15%;
	right: 8%;
}


// Общие параметры шаров

.header__animation,
.history__animation,
.principles__animation,
.eco__animation,
.rightnow__animation {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
}

.everyBall {
	position: absolute;
	border-radius: 50%;
	opacity: 0.4;
}

// Шары в header

.header__leftBall {
	width: 818px;
	height: 818px;
	top: -485%;
	left: -43%;
	background: linear-gradient(306.14deg, #6C85FF 15.76%, rgba(255, 255, 255, 0) 84.22%), #A1A8FF;
	box-shadow: 8px 12px 54px rgba(120, 108, 255, 0.5);
	animation: firstBall  23s infinite linear;
}

.header__rightBall {
	width: 553px;
	height: 553px;
    bottom: -120%;
    right: -37%;
	background: linear-gradient(125.72deg, #23C2FF 19.79%, rgba(255, 255, 255, 0) 71.49%), rgba(80, 204, 255, 0.5);
	box-shadow: 5px 25px 100px rgba(37, 143, 226, 0.85);
	animation: secondBall  30s infinite linear;
}

// Шары в history

.history__leftBall {
	width: 293px;
	height: 293px;
	top: -20%;
	right: 10%;
	background: linear-gradient(298.85deg, #42B8E6 13.9%, rgba(255, 255, 255, 0) 96%), rgba(80, 204, 255, 0.5);
	box-shadow: 1px 6px 30px rgba(45, 170, 219, 0.7);
	transform: rotate(-15deg);
	animation: secondBall  25s infinite linear;
}

.history__rightBall {
	width: 171px;
	height: 171px;
	top: 40%;
	right: -2%;
	background: linear-gradient(298.85deg, #42B8E6 13.9%, rgba(255, 255, 255, 0) 96%), rgba(80, 204, 255, 0.5);
	box-shadow: 1px 6px 30px rgba(45, 170, 219, 0.7);
	transform: rotate(-121.52deg);
	animation: thirdBall  20s infinite linear;
}

// Шары в principles

.principles__leftBall {
	width: 245px;
	height: 245px;
	top: -15%;
	left: 49%;
	background: linear-gradient(306.16deg, #7990FF 12.33%, rgba(255, 255, 255, 0) 84.99%), #A1A8FF;
	box-shadow: 0px 4px 43px rgba(120, 108, 255, 0.25);
	transform: rotate(75deg);
	animation: firstBall  15s infinite linear;
}

.principles__rightBall {
	width: 310px;
	height: 310px;
	bottom: -14%;
	right: -4%;
	background: linear-gradient(137.59deg, #44A1FF 19.37%, rgba(255, 255, 255, 0) 73.7%), #68B3FF;
	box-shadow: 0px 4px 43px rgba(120, 108, 255, 0.25);
	animation: secondBall  20s infinite linear;
}

// Шары в eco

.eco__leftBall {
	width: 457px;
	height: 457px;
	top: -20%;
	left: -5%;
	background: linear-gradient(306.16deg, #7D92F8 12.33%, rgba(255, 255, 255, 0) 84.99%), #A1A8FF;
	box-shadow: 0px 4px 43px rgba(120, 108, 255, 0.25);
	transform: rotate(-15deg);
	animation: secondBall  30s infinite linear;
}

.eco__rightTopBall {
	width: 372px;
	height: 372px;
	top: -10%;
	right: -2%;
	background: linear-gradient(306.16deg, #44A1FF 12.33%, rgba(255, 255, 255, 0) 84.99%), #68B3FF;
	box-shadow: 0px 4px 43px rgba(120, 108, 255, 0.25);
	transform: rotate(105deg);
	animation: firstBall  18s infinite linear;
}

.eco__rightBottomBall {
	width: 245px;
	height: 245px;
	bottom: -6%;
	right: -3%;
	background: linear-gradient(306.16deg, #44A1FF 12.33%, rgba(255, 255, 255, 0) 84.99%), #68B3FF;
	box-shadow: 0px 4px 43px rgba(120, 108, 255, 0.25);
	transform: rotate(165deg);
	animation: secondBall  38s infinite linear;
}

// Шары в rightnow

.rightnow__leftBall {
	width: 321px;
	height: 321px;
	top: -13%;
	left: 10%;
	background: linear-gradient(306.16deg, #748BFF 12.33%, rgba(255, 255, 255, 0) 84.99%), #A1A8FF;
	box-shadow: 0px 4px 43px rgba(120, 108, 255, 0.25);
	transform: rotate(-15deg);
	animation: firstBall  18s infinite linear;
}

.rightnow__rightTopBall {
	width: 213px;
	height: 213px;
	top: -8%;
	right: 6%;
	background: linear-gradient(306.16deg, #44A1FF 12.33%, rgba(255, 255, 255, 0) 84.99%), #68B3FF;
	box-shadow: 0px 4px 43px rgba(120, 108, 255, 0.25);
	transform: rotate(105deg);
	animation: secondBall  20s infinite linear;
}

.rightnow__rightBottomBall {
	width: 372px;
	height: 372px;
	bottom: 15%;
	right: -2%;
	background: linear-gradient(306.16deg, #44A1FF 12.33%, rgba(255, 255, 255, 0) 84.99%), #68B3FF;
	box-shadow: 0px 4px 43px rgba(120, 108, 255, 0.25);
	transform: rotate(105deg);
	animation: thirdBall  17s infinite linear;
}




// Анимация в services

// @keyframes rotate {
// 	from {
// 		transform: translate(-50%, -50%) rotate(0);
// 	}
// 	to {
// 		transform: translate(-50%, -50%) rotate(360deg);
// 	}
// }

// .services__picWrapper {

// 	& img:last-child {
// 		animation: rotate 5s infinite linear;
// 	}	
// }





/*======= Адаптивные стили ======*/


// Стили для max-width 1199px

@media (max-width: 1199px) {

	// Общие стили для max-width 1199px

	.container {
		width: 970px;
	}

	.btn {
		height: 46px;
	}


	// Стили header для max-width 1199px

	.header {
		min-height: 658px;
		padding-top: 50px;
	}

	.header__top {
		margin-bottom: 69px;
	}

	.header__logo {
		margin-right: 39px;
		width: 126px;
		height: 36px;
		top: -9px;
	}

	.header__navLink {
		margin-right: 39px;
		font-size: 16px;
		line-height: 20px;

		&:last-child {
			margin-right: 0;
		}
	}

	.header__phone {
		right: 5px;

		& span {
			font-size: 16px;
			line-height: 20px;
		}
	}

	.header__main {
		margin-bottom: 115px;
	}

	.header__title {
		font-weight: 700;
		font-size: 56px;
		margin-bottom: 30px;
	}

	.header__subtitle {
		padding: 0 12.7%
	}

	.header__btn {
		width: 180px;
	}

	.header__calc {
		width: 100%;
		padding: 47px 60px;
	}



	// Стили about для max-width 1199px

	.about__logo {
		width: 88px;
		height: 88px;
	}

	.about__logoWrapper {
		width: 41px;
		height: auto;
	}




	// Стили history для max-width 1199px

	.history__imgWrapper {
		margin-right: 5.62%;
	}


	// Стили principles для max-width 1199px

	.principles__imgWrapper {
		margin-right: 5.62%;
	}


	// Стили advantages для max-width 1199px

	.advantages__wrapper {
		flex-wrap: wrap;
		width: 100%;
	}

	.advantages__item {		

		&:first-child {
			width: 80%;
			max-width: 640px;
			margin: 0 auto 60px;
		}

		&:last-child {
			width: 100%;
		}

		.advantages__text {			
			max-width: 640px;
			margin: 0 auto 0 0;

			&:first-child {
				margin-bottom: 20px;
			}
		}
	}


	// Стили rightnow для max-width 1199px

	.rightnow__item:first-child {
		width: 45.45%;
		margin-right: 6.47%;
	}


	// Анимация для max-width 1199px

	// Бутылки в header
	
	.header__bottleWrapper1 {
		width: 83px;
		bottom: -40%;
		left: 195px;
	}

	.header__bottleWrapper2 {
		width: 81px;
		bottom: -70%;
		left: 64%;
	}

	.header__bottleWrapper3 {
		width: 48px;
		bottom: -2%;
		right: 13%;
	}

	// Шары в header

	.header__leftBall {
		width: 412px;
		height: 412px;
		top: -647px;
		left: -80px;
	}

	.header__rightBall {
		width: 405px;
		height: 405px;
		bottom: -150px;
		right: -160px;
	}

	.history__animation,
	.principles__animation,
	.eco__animation,
	.rightnow__animation {
	display: none;
	}	

}





// Стили для max-width 992px

@media (max-width: 991px) {

	// Общие стили для max-width 992px

	.container {
		width: 720px;
		padding: 0 60px;
	}

	.btn {
		height: 54px;
	}

	.block__title {
		margin-bottom: 20px;
		font-weight: 800;
		font-size: 28px;
		line-height: 133.1%;
	}
	
	.block__text {
		margin: 0 auto 40px;
	}


	// Стили header для max-width 992px

	.header {
		height: 100vh;
		min-height: 925px;
		justify-content: flex-start;
	}

	.header__logo {
		position: absolute;
		top: 0;
		left: 60px;
	}

	.header__navbar {
		display: none;
	}

	body.lock {
		overflow: hidden;
	}

	.header__burger {
		display: block;
		position: absolute;
		top: 3px;
		right: 60px;
		width: 18px;
		height: 14px;
		z-index: 1000000;
	}
	
	.header__burger span {
		position: absolute;
		background-color: #fff;
		left: 0;
		width: 100%;
		height: 2px;
		top: 6px;
		transition: all .3s ease 0s;
	}

	.header__burger:before,
	.header__burger:after {
		content: '';
		background-color:  #fff;
		position: absolute;
		width: 100%;
		height: 2px;
		left: 0;
		transition: all .3s ease 0s;
	}

	.header__burger:before {
		top: 0;
	}
	.header__burger:after {
		bottom: 0;
	}

	.header__burger.active:before {
		transform: rotate(45deg);
		top: 6px;
		background-color: $dark-color;
	}

	.header__burger.active:after {
		transform: rotate(-45deg);
		bottom: 6px;
		background-color: $dark-color;
	}

	.header__burger.active span {
		transform: scale(0);
	}

	.header__menu {
		
		padding-top: 114px;
		position: fixed;
		top: 0;
		left: -100%;
		width: 100%;
		height: 100%;
		background-color: #fff;
		transition: all .3s ease 0s;
		z-index: 10000;
		overflow: auto;
	}

	.header__menu.active {
		left: 0;
		align-items: flex-start;

		& .header__navbar {
			display: block;
			max-width: 50%;
		}
	}

	.header__navLink {
		display: block;
		color: $dark-color;
		font-size: 16px;
		margin: 0 0 28px 60px;
		transition: all .5s;

		&:last-child {
			margin-bottom: 30px;
		}
	}

	.header__socialInBurger {
		display: flex;
		justify-content: flex-start;
		margin-left: 60px;
	}

	.header__socialItemBurger {
		position: relative;
		width: 34px;
		height: 34px;
		margin-right: 20px;
		border-radius: 50%;
		background-color: $light-btn;
		display: flex;
		justify-content: center;
		align-items: center;

		&:last-child {
			margin-right: 0;
		}

		& a {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}
	}

	.header__socialPicWrapper {
		max-width: 15px;
		height: auto;

		& img {
			display: block;
			width: 100%;
			height: auto;
		}
	}

	.header__forHouse,
	.header__forOffice,
	.header__forCar,
	.header__about {
		position: fixed;
		top: 0;
		left: -100%;
		width: 100%;
		height: 100%;		
		padding-top: 114px;
		background: rgba(255, 255, 255, 1);
		transition: all .3s ease;
		z-index: 10000;
	}
	
	.header__forHouse.active,
	.header__forOffice.active,
	.header__forCar.active,
	.header__about.active {
		left: 0;
		align-items: flex-start;
	}

	.header__forHouseBack,
	.header__forOfficeBack,
	.header__forCarBack,
	.header__aboutBack {
		display: block;
	}

	.header__menuMobile {
		display: none;
	}

	// Конец стилей burger-menu


	.header__phone {
		right: 109px;
	}

	.header__social {
		display: none;
	}

	.header__main {
		margin-top: 142px - 60px;
		margin-bottom: 192px;
		text-align: left;
	}

	.header__title {
		width: 74.22%;
		text-align: left;
		font-weight: 800;
		font-size: 56px;
		line-height: 116.1%;
		letter-spacing: 0.04em;
	}

	.header__subtitle {		
		width: 74.22%;
		padding: 0;
		text-align: left;
	}

	.header__btn {
		width: 210px;
		margin-bottom: 10px;
	}

	.header__calc {
		display: block;
		width: 720px;
		margin: 0 auto;
		padding: 0 60px;
		
	}

	.header__calcBg {
		display: none;
	}

	.header__form {
		display: block;
	}

	.header__cleaning {
		margin-bottom: 30px;
	}

	.header__counter {
		margin-bottom: 30px;
		width: 231px;
	}

	.header__clientsNumber {
		margin-bottom: 30px;
		width: 231px;
	}

	.header__submit {
		width: 231px;
		margin-bottom: 10px;
	}



	// Анимация для 768

	
	.header__animation {
		display: none;
	}

	.header__bottleWrapper1,
	.header__bottleWrapper2,
	.header__bottleWrapper3 {

		& img:first-child {
			display: none;
		}

		& img:last-child {
			display: block;
			width: 100%;
			height: auto;
		}
	}

	.header__bottleWrapper1 {
		width: 150px;
		bottom: -67%;
		left: 405px;
	}

	.header__bottleWrapper2 {
		width: 260px;
		bottom: -120%;
		left: 64%;
	}

	.header__bottleWrapper3 {
		width: 100px;
		bottom: -13%;
		right: 15%;
	}
	

	// Стили about для max-width 992px

	.about {
		padding: $block-padding-tablet;
	}

	.about__wrapper {
		flex-wrap: wrap;		
	}

	.about__item {
		width: 48.46%;
	}

	.about__logo {
		width: 108px;
		height: 108px;
	}

	.about__logoWrapper {
		width: 49px;
	}

	.about__lightVerticalBox {
		width: 3.08%;

		&.second {
			width: 100%;
			height: 20px;
		}
	}
		

	// Стили history для max-width 992px

	.history {
		padding: $block-padding-tablet;
	}

	.history__wrapper {
		flex-wrap: wrap;
		justify-content: flex-start;
	}

	.history__imgWrapper {
		width: 61.41%;
		margin-bottom: 40px;
	}

	.history__description {
		width: 100%;
	}

	.history__text {
		margin-bottom: 10px;
	}

			

	// Стили services для max-width 992px

	.services {
		padding: $block-padding-tablet;
		padding-bottom: 0;
	}

	.services__wrapper {
		justify-content: space-between;
		max-width: 580px;
	}

	.services__item {
		width: 48.27%;

		&:nth-child(1n+2) {
			margin-right: 20px;
		}

		&:nth-child(2n+2) {
			margin-right: 0;
		}

		&:nth-child(n+1){
			margin-bottom: 20px;
		}

		// &:nth-child(9) {
		// 	margin-bottom: 0;
		// }
	}

	.services__img {
		display: none;
	}
	
	.servises__picNumber {
		display: block;
	}

			

	// Стили additional для max-width 992px

	.additional {
		padding: $block-padding-tablet;
	}

	.additional__text {
		margin-bottom: 40px;
	}

	

	// Стили principles для max-width 992px

	.principles {
		padding: $block-padding-tablet;
	}

	.principles__wrapper {
		flex-wrap: wrap;
		justify-content: flex-start;
	}

	.principles__imgWrapper {
		width: 61.41%;
		margin-bottom: 40px;
	}

	.principles__image {
		object-fit: cover;
	}

	.principles__description {
		width: 100%;
	}

	.principles__text {
		width: 100%;
		margin: 0;
		margin-bottom: 10px;
	}



	// Стили general для max-width 992px
	
	.general {
		padding: $block-padding-tablet;
		padding-bottom: 0;
	}

	.general__title {
		text-align: left;
	}

	.general__text {
		text-align: left;
	}

	.general__item {
		width: 48%;
		margin: 0;

		&:first-child,
		&:nth-child(1n+2) {
			margin: 0 20px 20px 0;
		}

		&:nth-child(2n+2) {
			margin: 0 0 20px 0;
		}

		// &:nth-child(5),
		// &:nth-child(6) {
		// 	margin-bottom: 0;
		// }
	}



	// Стили advantages для max-width 992px

	.advantages {
		padding: $block-padding-tablet;
	}

	.advantages__title {
		max-width: 100%;
		text-align: left;
	}

	.advantages__text {
		text-align: left;
	}

	.advantages__item:first-child,
	.advantages__item:last-child {
		width: 100%;
	}

	.advantages__item:first-child {
		padding: 40px 40px;
	}



	// Стили eco для max-width 992px

	.eco {
		padding: $block-padding-tablet;
	}

	.eco__title {
		margin: 0 0 20px 0;
		max-width: 100%;
		text-align: left;
	}

	.eco__text {
		text-align: left;
	}

	.eco__item:last-child {
		align-self: start;
	}

	.eco__item {

		&:first-child {
			
		width: 48%;
			margin: 0 20px 0 0;
		}

		&:last-child {
			
		width: 48%;
			margin: 0;
		}
	}



	// Стили minset для max-width 992px

	.minset {
		padding: $block-padding-tablet;
		padding-bottom: 0;
	}

	.minset__title {
		text-align: left;
	}

	.minset__text {
		text-align: left;
	}

	.minset__item {
		width: 100%;
		padding: 110px 83px 110px 48px;

		&:nth-child(1n+1) {			
			margin-right: 0;
		}
	}

	.minset__picWrapper {
		width: 35.78%;
		margin-right: 9.26%;
	}

	.minset__description {
		width: 54.96%;
		align-self: center;
	}

	.minset__info {
		margin-bottom: 0;
	}



	// Стили order для max-width 992px
	
	.order {
		padding: $block-padding-tablet;
	}

	.order__wrapper {
		flex-wrap: wrap;
	}

	.order__item {
		&:first-child,
		&:last-child {
			width: 100%;
			margin-right: 0;

		}
	}

	.order__step .order__text {
		margin-bottom: 0;
	}



	// Стили rightnow для max-width 992px

	.rightnow {
		padding: $block-padding-tablet;
	}

	.rightnow__wrapper {
		justify-content: center;
	}

	.rightnow__item:first-child {
		width: 100%;
		margin-right: 0;
		text-align: center;
	}

	.rightnow__subtitle {
		text-align: center;
	}

	.rightnow__form {
		max-width: 330px;
		margin: 0 auto;
	}

	.rightnow__item:last-child {
		display: none;
	}



	// Стили footer для max-width 992px

	.footer {
		padding: $block-padding-tablet;
		padding-bottom: 0;
	}

	.footer__infoWrapper {
		margin-bottom: 20px;
	}

	.footer__services,
	.footer__about {
		display: none;
	}

	.footer__logo {
		width: 19.44%;
		margin-right: 19.24%;
	}

	.footer__contacts {
		width: 27.77%;
		margin-right: 5.7%;
	}

	.footer__company {
		width: 27.77%;
		margin-right: 99.97%;
	}

	.footer__devInfoWrapper {
		flex-wrap: wrap;
	}

	.footer__devCompany,
	.footer__other {
		width: 100%;
	}

	.footer__copyright {
		display: none;
	}

}




// Стили для max-width 768px

@media (max-width: 767px) {

	// Общие стили для для max-width 768px

	.container {
		width: 540px;
		padding: 0 20px;
	}

	.btn {
		width: 231px;
	}
	
	.block__text {
		margin-bottom: 20px;
	}



	// Стили header для max-width 768px

	.header {
		height: auto;
		min-height: 846px;
		padding: 0;
		justify-content: space-between;
		background:$bg-light;
	}

	.header__firstBlock {
		min-height: 100vh;
		padding-top: 60px;
		background: linear-gradient(97.4deg, #CCA5FF 0%, #A1ABFF 48.96%, #60B4FF 100%), #C4C4C4;
	}

	.header__top {
		margin-bottom: 83px;
	}

	.header__logo {
		left: 20px;
	}

	.header__burger {
		right: 20px;
	}

	.header__phone {
		right: 69px;
	}


	.header__bottles {
		display: none;
	}

	.header__calc {
		width: 100%;
		padding: 70px 20px 0;
		background-color: $bg-light;
	}

	.header__form {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		max-width: 335px;
		margin: 0 auto;
		text-align: center;
	}

	.header__cleaning,
	.header__counter,
	.header__clientsNumber {

		&::after {
			background-color: #e0e0e0;
		}
	}

	.header__options,
	.header__counter input,
	.header__clientsNumber input {
		line-height: 130%;
		font-weight: 400;
		color: $dark-color;
	}
	
	.header__options {
		background: url(../img/header/arrow-down-dark.svg) right 7px no-repeat;

	}

	.header__decreaseCount,
	.header__increaseCount {
		& svg {
			color: $dark-color;
			fill: $dark-color;
			& path {
			stroke: $dark-color;
			}
		}
	}

	.header__clientsNumber {
		& input::placeholder {
			color: $dark-color;
		}
	}



	// Стили about для max-width 768px

	.about {
		padding: $block-padding-phone;
	}

	.about__subtitle {
		margin-bottom: 20px;
	}



	// Стили history для max-width 768px

	.history {
		padding: $block-padding-phone;
	}

	.history__imgWrapper {
		width: 100%;
		margin-right: 0;
		margin-bottom: 30px;
	}

	.history__text {
		display: none;
		&:nth-child(2) {
			display: block;
		}

		&.active{
			display: block;
		}
	}

	.history__show {
		display: inline-block;
		position: relative;
		color: $light-color;
		margin-bottom: 0;
		&::after {
			position: absolute;
			bottom: 0;
			left: 0;

			display: block;
			content: "";
			width: 100%;
			height: 1px;
			background-color: $light-color;
		}

		&.hidden {
			display: none;
		}
	}

	.history__hide {
		display: inline-block;
		position: relative;
		color: $light-color;
		margin-bottom: 0;
		&::after {
			position: absolute;
			bottom: 0;
			left: 0;

			display: block;
			content: "";
			width: 100%;
			height: 1px;
			background-color: $light-color;
		}

		&.hidden {
			display: none;
		}
	}




	// Стили services для max-width 768px

	.services {
		padding: $block-padding-phone;
		padding-bottom: 0;
	}

	.services__title,
	.services__text {
		text-align: left;
		width: 100%;
	}

	.services__text {
		margin-bottom: 30px;
	}


	.services__wrapper {
		max-width: 100%;
		flex-wrap: nowrap;
	}

	.services__item {
		width: auto;
		min-height: 255px;
		
		&:nth-child(1n+1) {
			margin: 10;
		}
	}

	// .services__item {
	// 	width: 100%;
	// 	display: none;
	// 	margin: 0;

	// 	&:first-child {
	// 		display: block;
	// 	}
	// }



	// Стили additional для max-width 768px

	.additional {
		padding: $block-padding-phone;
	}

	.additional__text {
		margin-bottom: 30px;
	}

	.additional__logo {
		width: 70px;
		height: 70px;
	}

	.additional__item:nth-child(1) img {
		display: block;
		width: 36.11px;
		height: 23.4px;
	}

	.additional__item:nth-child(2) img {
		display: block;
		width: 23.67px;
		height: 34.57px;
	}

	.additional__item:nth-child(3) img {
		display: block;
		width: 32.88px;
		height: 32.86px;
	}

	.additional__item:nth-child(4) img {
		display: block;
		width: 33.67px;
		height: 33.67px;
	}

	.additional__description {
		text-align: center;
	}



	// Стили principles для max-width 768px

	.principles {
		padding: $block-padding-phone;
	}

	.principles__title {
		width: 100%;
	}
	
	.principles__imgWrapper {
		width: 100%;
		margin-right: 0;
		margin-bottom: 30px;
	}

	.principles__text {
		display: none;
		&:nth-child(2) {
			display: block;
		}

		&.active{
			display: block;
		}
	}

	


	// Стили general для max-width 768px

	.general {
		padding: $block-padding-phone;
		padding-bottom: 0;
	}

	.general__text {
		margin-bottom: 30px;
	}

	.general__wrapper {
		max-width: 100%;
		flex-wrap: nowrap;
		justify-content: space-between;
	}

	.general__item {
		
		// padding: 47px 20px;

		&:nth-child(1n+1) {
			// margin: 0;
			width: 100%;
		}

		// Убрать после подключения слайдера
		// display: none;
		// &:first-child {
		// 	display: block;
		// }
	}



	// Стили advantages для max-width 768px

	.advantages {
		padding: $block-padding-phone;
	}

	.advantages__text {
		margin-bottom: 30px;
	}
	.advantages__item {

		&:first-child {
			padding: 20px 20px 30px;
			margin-bottom: 30px;
		}
	}

	.advantages__item .advantages__text {
		display: none;
		margin-bottom: 20px;
		&:nth-child(1) {
			display: block;
		}

		&.active{
			display: block;
		}
	}



	// Стили eco для max-width 768px

	.eco {
		padding: $block-padding-phone;
	}

	.eco__imgWrapper {
		display: block;
		width: 100%;
		margin-bottom: 30px;
		padding: 12px;
		box-shadow: -8px -3px 16px #CAB2FD, 5px 4px 23px #6FA1FE;
		border-radius: 5px;
	
		& img {
			border-radius: 5px;
			width: 100%;
			height: auto;
		}
	}

	.eco__item {
		display: none;
	}

	.eco__item:first-child {
		display: block;
		width: 100%;
	}

	.eco__subtitle {
		display: none;
	}

	.eco__description {
		display: none;

		&.active {
			display: block;
		}
	}



	// Стили minset для max-width 768px

	.minset {
		padding: $block-padding-phone;
		padding-bottom: 0;
	}

	.minset__text {
		margin-bottom: 30px;
	}

	.minset__item,
	.minset__item:nth-child(3),
	.minset__item:nth-child(4) {
		padding: 30px 0 30px 20px;
		justify-content: flex-start;
	}

	.minset__info {
		display: none;
	
		&.active {
			display: block;
			width: 100%;
		}
	}



	// Стили order для max-width 768px

	.order {
		padding: $block-padding-phone;
	}

	.order__step {
		flex-wrap: wrap;

		.order__logo {
			margin-right: 0;
			margin-bottom: 10px;
		}

		& .order__text {
			width: 100%;
		}
	}



	// Стили rightnow для max-width 768px

	.rightnow {
		padding: $block-padding-phone;
	}



	// Стили footer для max-width 768px

	.footer {
		padding: $block-padding-phone;
		padding-bottom: 0;
	}

	.footer__devInfoWrapper {
		justify-content: flex-start;
	}




	// Стили табов для всех блоков

	
	.history__show,
	.principles__show,
	.advantages__show,
	.eco__show,
	.minset__show {
		display: inline-block;
		position: relative;
		color: $light-color;
		margin-bottom: 0;
		&::after {
			position: absolute;
			bottom: 0;
			left: 0;

			display: block;
			content: "";
			width: 100%;
			height: 1px;
			background-color: $light-color;
		}

		&.hidden {
			display: none;
		}
	}

	.history__hide,
	.principles__hide,
	.advantages__hide,
	.eco__hide,
	.minset__hide {
		display: inline-block;
		position: relative;
		color: $light-color;
		margin-bottom: 0;
		&::after {
			position: absolute;
			bottom: 0;
			left: 0;

			display: block;
			content: "";
			width: 100%;
			height: 1px;
			background-color: $light-color;
		}

		&.hidden {
			display: none;
		}
	}

	.advantages__show,
	.advantages__hide,
	.minset__show,
	.minset__hide {
		color: $dark-color;

		&::after {
			background-color: $dark-color;
		}
	}

	
}





// Стили для max-width 575px

@media (max-width: 575px) {

	// Общие стили для max-width 575px

	.container {
		width: 100%;
		max-width: 100%;
		padding: 0 20px;
	}



	// Стили header для max-width 575px

	.header__logo {
		width: 82px;
		height: 23px;
	}

	.header__title {
		font-size: 42px;
		width: 100%;
	}

	.header__subtitle {
		width: 100%;
	}

	// Выпадающее меню

	.header__menu {
		padding-top: 84px;
	}

	.header__navLink {
		margin-left: 30px;
	}

	.header__socialInBurger {
		margin-left: 30px;
	}

	.header__socialItemBurger {
		position: relative;
		width: 22px;
		height: 22px;
		margin-right: 17px;
	}

	.header__socialPicWrapper {
		max-width: 10px;
	}

	.header__forHouse {
		z-index: 30000;
	}

	.header__forHouse, .header__forOffice, .header__forCar, .header__about {
		padding: 84px 91px 60px 30px;
	}

	.header__forHouseBack, .header__forOfficeBack, .header__forCarBack, .header__aboutBack {
		top: 40px;
		left: 30px;
	}	

	.header__menuMobile,
	.forApartmentList,
	.forHouseList,
	.additionalList {
		position: fixed;
		top: 0;
		left: -100%;
		width: 100%;
		height: 100%;
		display: block;	
		padding-top: 84px;
		padding-left: 30px;
		background-color: #fff;
		transition: all .3s ease;
		z-index: 20000;
	}

	// .header__menuMobile {
	// 	z-index: 20000;
	// }

	.header__menuItem:nth-child(1n+1) {
		max-width: 100%;
	}

	.header__menuMobile.active  {
		left: 0;
		align-items: flex-start;
	}

	.header__menuItem.active {
		left: 100%;
		align-items: flex-start;
	}

	.header__mobileBack {
		display: block;
		position: absolute;
		top: 30px;
		left: 30px;
		cursor: pointer;		
	
		& img {
			display: inline-block;
			margin-right: 20px;
		}
	
		& p {
			display: inline-block;
			font-weight: 600;
			font-size: 16px;
			line-height: 19px;
			background: linear-gradient(97.4deg, #cca5ff 0%, #A1ABFF 48.96%, #60B4FF 100%), #C4C4C4;
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
			color: #CCA5FF;
		}
	}

	.header__firstMenuLink {
		display: none;
	}

	// Конец стилей выпадающего меню



	// Стили about для max-width 575px

	.about__title,
	.about__text,
	.about__subtitle {
		text-align: left;
	}

	.about__item {
		padding: 25px 0 14px;
	}	

	.about__logo {
		width: 51px;
		height: 51px;
	}

	.about__logoWrapper {
		width: 23px;
	}

	.about__desctiption {
		padding: 0 20px;
	}



	// Стили additional для max-width 575px

	.additional__wrapper {
		flex-wrap: wrap;
		justify-content: center;
	}

	.additional__item {
		width: 48%;
		margin-right: 0;

		&:nth-child(1),
		&:nth-child(3) {
			margin-right: 4%;
		}

		&:nth-child(1),
		&:nth-child(2) {
			margin-bottom: 20px;
		}
	}

	.additional__logo {
		margin: 0 auto;
		margin-bottom: 10px;
	}

	.additional__description {
		max-width: 100%;
		margin: 0 auto 30px;
	}

	.additional__item:last-child .additional__description {
		margin-bottom: 0;
	}



	// Стили minset для max-width 575px
	
	.minset__picWrapper {
		width: 36.5%;
		margin-right: 13.65%;
	}

	.minset__description {
		width: 49.84%;
		
	}



	// Стили footer для max-width 575px

	.footer__infoWrapper {
		display: block;
		margin-bottom: 70px;
	}

	.footer__logo,
	.footer__contacts,
	.footer__company {
		display: block;
		margin: 0 auto 40px;
		text-align: center;
	}

	.footer__logo {
		width: 82px;
		height: 23px;
	}

	.footer__contacts {
		width: 180px;
	}

	.footer__company {
		width: 100%;
		margin-bottom: 0;
	}

	.footer__tel,
	.footer__mode {
		margin-bottom: 19px;
	}

	.footer .block__text {
		font-size: 14px;
	}

}




// Стили для max-width 340px

@media (max-width: 340px) {

	.header__firstBlock {
		padding-top: 40px;
	}

	.header__burger {
		top: 40px;
	}

	.header__phone {
		top: 0px;
		right: 20px;
	}

}