/* ===== Обнуление стилей CSS ===== */
@import "./normalize.css";




/* ===== Подключение шрифтов ===== */

// Gilroy regular - 400
@font-face {
	font-family: 'Gilroy';
	font-style: normal;
	font-weight: 400;
	src: local('Gilroy Regular'), local('Gilroy-Regular'),
		url('../fonts/Gilroy-Regular.woff2') format('woff2'),
		url('../fonts/Gilroy-Regular.woff') format('woff');
}

// Gilroy semibold - 600
@font-face {
	font-family: 'Gilroy';
	font-style: normal;
	font-weight: 600;
	src: local('Gilroy Semibold'), local('Gilroy-Semibold'),
		url('../fonts/Gilroy-Semibold.woff2') format('woff2'),
		url('../fonts/Gilroy-Semibold.woff') format('woff');
}

// Gilroy bold - 700
@font-face {
	font-family: 'Gilroy';
	font-style: normal;
	font-weight: 700;
	src: local('Gilroy Bold'), local('Gilroy-Bold'),
		url('../fonts/Gilroy-Bold.woff2') format('woff2'),
		url('../fonts/Gilroy-Bold.woff') format('woff');
}

// Gilroy extrabold - 800
@font-face {
	font-family: 'Gilroy';
	font-style: normal;
	font-weight: 800;
	src: local('Gilroy Extrabold'), local('Gilroy-Extrabold'),
		url('../fonts/Gilroy-Extrabold.woff2') format('woff2'),
		url('../fonts/Gilroy-Extrabold.woff') format('woff');
}




/* ===== Определение переменных ===== */

// Шрифт
$main-font: 'Gilroy',
sans-serif;

// Цвет текста для тёмных блоков
$light-color: #fff;

// Цвет текста для светлых блоков
$dark-color: #4f4f4f;

// Цвет текста для светлых кнопок
$light-btn: #7892ff;

// Цвет фона для тёмных блоков
$bg-dark: linear-gradient(97.4deg, #CCA5FF 0%, #A1ABFF 48.96%, #60B4FF 100%),
#C4C4C4;

// Цвет фона для светлых блоков
$bg-light: #f8fbff;

// Цвет фона для светлых кнопок
$bg-btn-light: #fff;

// Цвет фона для тёмных кнопок
$bg-btn-dark: #7892ff;

$block-padding: 140px 0;




/* ===== Основные стили ===== */

html {
	box-sizing: border-box;
}

*,
::after,
::before {
	box-sizing: inherit;
}

body {
	font-family: $main-font, sans-serif;
	color: $light-color;
}

a {
	text-decoration: none;

	&:focus {
		outline: none;
	}
}

.container {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 10px;
}

.ligth__text {
	font-size: 16px;
	line-height: 130%;
}

.btn {
	width: 210px;
	height: 54px;
	border: none;
	border-radius: 70px;
	outline: none;

	&:focus {
		outline: none;
	}

	font-family: $main-font, sans-serif;
	font-weight: 700;
	font-size: 16px;
	line-height: 19px;
}

.block__title {
	margin-bottom: 30px;
	font-weight: 800;
	font-size: 32px;
	line-height: 133.1%;
	color: $dark-color;
	text-align: center;
}

.block__text {
	max-width: 950px;
	margin: 0 auto 60px;
	font-weight: 400;
	font-size: 16px;
	line-height: 130%;
	color: $dark-color;
	text-align: center;
}

.block__subtitle {
	font-weight: 600;
	font-size: 16px;
	line-height: 19px;
	color: $dark-color;
	text-align: center;
}




/* ===== Стили header ===== */

.header {
	position: relative;
	width: 100%;
	height: 100vh;
	padding-top: 60px;
	background: $bg-dark;
}

.header__top {
	position: relative;
	margin-bottom: 160px;
}

.header__navbar {
	display: flex;
	justify-content: center;
	align-items: center;
}

.header__navLink {
	position: relative;
	margin-right: 55px;
	color: $light-color;
	font-size: 18px;

	&:last-child {
		margin-right: 0;
	}

	&::after{
		position: absolute;
		left: 0;
		bottom: -10px;
		opacity: 0;
		content: "";
		height: 2px;
		width: 100%;
		background-color: #fff;
		transition: all .2s linear;
	}

	&:hover::after,
	&:focus::after {
		opacity: 1;
	}
}

.header__phone {
	position: absolute;
	top: 0;
	right: -70px;
	display: flex;
	align-items: center;

	& img {
		margin-right: 10px;
	}

	& span {
		color: $light-color;
		font-size: 18px;
	}

	&::after{
		position: absolute;
		left: 0;
		bottom: -10px;
		opacity: 0;
		content: "";
		height: 2px;
		width: 100%;
		background-color: #fff;
		transition: all .2s linear;
	}

	&:hover::after,
	&:focus::after {
		opacity: 1;
	}
}

// Выпадающее меню

.header__forHouse,
.header__forOffice,
.header__forCar {
	position: absolute;
	top: 40px;
	left: 205px;
	z-index: 100;
	display: none;
	padding: 60px 91px 60px 60px;
	background: rgba(255, 255, 255, 0.77);
	backdrop-filter: blur(30px);
	border-radius: 0px 0px 5px 5px;
}

.header__forHouse.active,
.header__forOffice.active,
.header__forCar.active {
	display: flex;
	justify-content: space-between;
}

.header__menuItem {

	&:nth-child(1) {
		max-width: 159px;
		margin-right: 60px;
	}

	&:nth-child(2) {
		max-width: 220px;
		margin-right: 50px;	
	}

	&:nth-child(3) {
		max-width: 189px;
		margin-right: 0;
	}
}

.header__firstMenuLink {
	display: block;	
	color: $dark-color;
	margin-bottom: 20px;
	font-size: 16px;
	font-weight: 600;
	line-height: 19px;
}

.header__menuLink {
	display: block;
	margin-bottom: 16px;
	color: $dark-color;
	font-weight: 500;
	font-size: 14px;
	line-height: 16px;

	&:last-child {
		margin-bottom: 0;
	}

	&:hover {
		background: linear-gradient(97.4deg, #cca5ff 0%, #A1ABFF 48.96%, #60B4FF 100%), #C4C4C4;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		color: #CCA5FF;
	}

	&:hover::before {
		content: "\2014";
		margin-right: 10px;
	}
}

// Социальные сети

.header__social {
	position: absolute;
	top: calc(251px - 60px);
	right: 60px;
	width: 34px;
}

.header__socialItem {
	position: relative;
	width: 34px;
	height: 34px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 20px;
	background-color: $bg-btn-dark;
	border-radius: 50%;
	transition: all .2s linear;

	& a {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}

	&:hover{
		background-color: $bg-btn-light;
	}
}

// центральный блок

.header__main {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	text-align: center;
}

.header__title {
	width: 100%;
	margin-bottom: 12px;
	font-weight: 800;
	font-size: 74px;
	line-height: 116.1%;
	letter-spacing: 0.04em;
}

.header__subtitle {
	width: 100%;
	margin-bottom: 30px;
	padding: 0 17.5%;
}

.header__btn {
	color: $light-btn;
	background-color: $bg-btn-light;
	transition: all .2s linear;

	&:hover,
	&:focus {
		color: $light-color;
		background-color: $bg-btn-dark;
	}
}

// Калькулятор

.header__calc {
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	display: flex;
	align-items: center;
	width: 1173px;
	height: 174px;
	padding: 0	60px;
	background: $bg-dark;
}

.header__form {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
}

.header__cleaning,
.header__counter,
.header__clientsNumber {
	position: relative;
	&::after {
		position: absolute;
		left: 0;
		bottom: -10px;
		content: "";
		height: 1px;
		width: 100%;
		background-color: #f4f6ff;
	}
}

.header__options,
.header__counter input,
.header__clientsNumber input {
	font-family: $main-font;	
	font-size: 16px;
	line-height: 19px;
	color: $light-color;
	background-color: transparent;
	border: none;
}

.header__cleaning {
	width: 232px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header__options {
	padding-right: 30px;
	appearance: none;
	background: url(../img/header/arrow-down.svg) right 7px no-repeat;
	cursor: pointer;
	& option {
		color: $dark-color;
	}
}

.header__counter {
	display: flex;
	justify-content: space-between;
	align-items: center;	
	width: 155px;

	& .header__value {
		display: flex;
		justify-content: center;
		align-items: center;
		margin-right: 25px;
		font-size: 16px;
		font-weight: 600;
	}

	& input {
		width: 45px;
		text-align: right;
	}

	& span {
		font-size: 10px;
		vertical-align: super;
	}
}

.header__changeCount {
	width: 14px;
	height: 14px;
	cursor: pointer;
}

.header__clientsNumber {
	width: 188px;
	& input{
		width: 100%;
	}
	& input::placeholder {
		color: $light-color;
	}
}

.header__submit {
	color: #fff;
	background-color: $bg-btn-dark;
	transition: all .2s linear;

	&:hover,
	&:focus {
		color: $light-btn;
		background-color: $bg-btn-light;
	}
}

// Бутылки, шары и анимация

// .header__bottles {
// 	position: absolute;
// 	// z-index: -1;
// 	top: 0;
// 	left: 0;
// 	width: 100%;
// 	height: 100%;
// 	transform: translateX(-50%);
// 	// margin: 0 auto;
// }

// .header__cont {
// 	position: relative;
// 	max-width: 1180px;
// 	height: 100%;
// 	margin: 0	auto;
// }

// .header__bottlewrapper1 {
// 	position: absolute;
// 	top: 50%;
// 	// top: 354px;
// 	left: 20px;
// 	width: 146px;
// }

// .header__bottlewrapper2 {
// 	position: absolute;
// 	top: 34%;
// 	right: 177px;
// 	width: 240px;
// }

// .header__bottlewrapper3 {
// 	position: absolute;
// 	top: 40%;
// 	right: 0;
// 	width: 115px;
// }

// .header__bottles img {
// 	display: block;
// 	width: 100%;
// 	height: auto;
// }




/* ===== Стили about ===== */

.about {
	padding: $block-padding;
	background-color: $bg-light;
}

.about__subtitle {
	margin-bottom: 30px;
}

.about__wrapper {
	display: flex;
	justify-content: space-between;
	background: $bg-dark;
	border-radius: 5px;
}

.about__item {
	width: 23.7%;
	padding: 39px 0 41px;
}

.about__lightbox {
	width: 1.7%;
	background: $bg-light;
}

.about__logo {
	width: 108px;
	height: 108px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 auto 20px;
	border-radius: 50%;
	background: rgba(255, 255, 255, 0.7);
	backdrop-filter: blur(30px);

}

.about__desctiption {
	color: $light-color;
	font-weight: 400;
	line-height: 130%;
}




/* ===== Стили history ===== */

.history {
	padding: $block-padding;
	background: $bg-dark;
}

.history__wrapper {
	display: flex;
	justify-content: center;
}

.history__imgWrapper {
	width: 43.22%;
	margin-right: 7.62%;
}

.history__image {
	padding: 12px;
	background: #C4C4C4, linear-gradient(180deg, rgba(181, 168, 255, 0.05) 0%, rgba(255, 255, 255, 0) 100%);
	box-shadow: -8px -3px 16px #CAB2FD, 8px 4px 18px #979DFF;
	border-radius: 5px;

	& img {
		display: block;
		width: 100%;
		height: auto;
		border-radius: 5px;
	}
}

.history__description {
	width: 49.15%;
	align-self: center;
}

.history__title {
	text-align: left;
	color: $light-color;
}

.history__text {
	margin-bottom: 20px;
	text-align: left;
	line-height: 130%;
	color: $light-color;

	&:last-child {
		margin-bottom: 0;
	}
}




/* ===== Стили services ===== */

.services {
	padding: $block-padding;
	padding-bottom: 0;
	background-color: $bg-light;
}

.services__wrapper {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	max-width: 880px;
	margin: 0 auto;
}

.services__item {
	width: 31.8%;
	margin-right: 20px;
	margin-bottom: 20px;
	color: $dark-color;
	background-color: $bg-light;
	box-shadow: 9px 9px 16px rgba(189, 196, 255, 0.25), -9px -9px 16px #FFFFFF;
	border-radius: 5px;

	&:nth-child(3n+3){
		margin-right: 0;
	}

	&:nth-child(7),
	&:nth-child(8),
	&:nth-child(9) {
		margin-bottom: 0;
	}
}

.services__pic {
	position: relative;
	margin: 0 auto;
	padding-bottom: 157px;

	& img {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
}

.services__description {
	padding: 0 30px 66px 30px;
	text-align: center;
}




/* ===== Стили additional ===== */

.additional {
	padding: $block-padding;
	color: $dark-color;
	background-color: $bg-light;
}

.additional__text {
	text-align: center;
	margin-bottom: 60px;
}

.additional__wrapper {
	display: flex;
	justify-content: space-between;
}

.additional__item {
	margin-right: 20px;

	&:last-child {
		margin-right: 0;
	}
}

.additional__logo {
	width: 108px;
	height: 108px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 auto 20px;
	border-radius: 50%;
	background: $bg-btn-dark;
	box-shadow: inset 0px -4px 4px #6D86F0, inset 0px 4px 4px #6D86F0;

}




/* ===== Стили principles ===== */

.principles {
	padding: $block-padding;
	background: $bg-dark;
}

.principles__wrapper {
	display: flex;
	justify-content: center;
}

.principles__imgWrapper {
	width: 43.22%;
	margin-right: 7.62%;
}

.principles__image {
	padding: 12px;
	background: #C4C4C4, linear-gradient(180deg, rgba(181, 168, 255, 0.05) 0%, rgba(255, 255, 255, 0) 100%);
	box-shadow: -8px -3px 16px #CAB2FD, 8px 4px 18px #979DFF;
	border-radius: 5px;

	& img {
		display: block;
		width: 100%;
		height: auto;
		border-radius: 5px;
	}
}

.principles__description {
	width: 49.15%;
	align-self: center;
}

.principles__title {
	width: 94.31%;
	text-align: left;
	color: $light-color;
}

.principles__text {
	width: 82.75%;
	margin-left: 0;
	margin-bottom: 20px;
	text-align: left;
	line-height: 130%;
	color: $light-color;

	&:last-child {
		margin-bottom: 0;
	}
}




/* ===== Стили general ===== */

.general {
	padding: $block-padding;
	padding-bottom: 0;
	background-color: $bg-light;
	color: $dark-color;
}

.general__text {
	max-width: 750px;
}

.general__wrapper {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	max-width: 880px;
	margin: 0 auto;
}

.general__item {
	width: 31.8%;
	background: #F8FBFF;
	box-shadow: 6px 6px 7px rgba(189, 196, 255, 0.23), -11px -11px 16px #FFFFFF;
	border-radius: 5px;
	margin-right: 20px;
	margin-bottom: 20px;
	padding: 30px 20px 33px;

	&:nth-child(3n+3) {
		margin-right: 0;
	}

	&:nth-child(4),
	&:nth-child(5),
	&:nth-child(6) {
		margin-bottom: 0;
	}
}

.general__logo {
	width: 48px;
	height: 48px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 auto 33px;

	& img {
		display: block;
		width: 100%;
		height: auto;
	}
}

.general__description {
	text-align: center;
}




/* ===== Стили advantages ===== */

.advantages {
	padding: $block-padding;
	background-color: $bg-light;
	color: $dark-color;
}

.advantages__title {
	max-width: 574px;
	margin: 0 auto 30px;
}

.advantages__wrapper {
	display: flex;
}

.advantages__subtitle {
	margin-bottom: 60px;
}

.advantages__item {

	&:first-child {
		width: 54.23%;
		margin-right: 5.08%;
		padding: 60px 78px 55px;
		box-shadow: 9px 9px 16px rgba(189, 196, 255, 0.25), -9px -9px 16px #FFFFFF;
		border-radius: 5px;
	}

	&:last-child {
		width: 40.67%;
		align-self: center;
	}

	& .advantages__text {
		margin-bottom: 20px;
		text-align: left;
	}

	& .advantages__text:last-child {
		margin-bottom: 0;
	}
}

.advantages__slider {
	display: flex;
	justify-content: space-between;
	margin-bottom: 20px;
}

.advantages__sliderItem {
	width: 29%;
}

.advantages__sliderLogo {
	width: 69px;
	height: 69px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 auto 20px;
	background: $bg-btn-dark;
	border-radius: 10px;
}

.advantages__sliderDescription {
	font-weight: 400;
	font-size: 16px;
	line-height: 130%;
	text-align: center;
}

.advantages__sliderNav {
	display: flex;
	justify-content: center;
}

.advantages__arrow {
	cursor: pointer;

	&:first-child {
		margin-right: 13px;
	}
}




/* ===== Стили eco ===== */

.eco {
	padding: $block-padding;
	background: $bg-dark;
}

.eco__title {
	max-width: 366px;
	margin: 0 auto 30px;
	color: $light-color;
}

.eco__text {
	color: $light-color;
}

.eco__wrapper {
	max-width: 893px;
	display: flex;
	justify-content: space-between;
	margin: 0 auto;
}

.eco__item {

	&:first-child {
		width: 50.83%;
		align-self: center;
	}

	&:last-child {
		width: 37.29%;
		padding: 12px;
		box-shadow: -5px -4px 16px #A9B9FF, 5px 4px 23px #6FA1FE;
		border-radius: 5px;
	}

	&:last-child img {
		border-radius: 5px;
		width: 100%;
		height: auto;
	}
}

.eco__subtitle {
	margin-bottom: 19px;
	text-align: left;
	color: $light-color;
}

.eco__description {
	text-align: left;
	color: $light-color;
}




/* ===== Стили minset ===== */

.minset {
	padding: $block-padding;
	padding-bottom: 0;
	background: $bg-light;
}

.minset__wrapper {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.minset__item {
	width: 49.15%;
	display: flex;
	justify-content: space-between;
	margin-bottom: 20px;
	padding: 89px 60px 89px 45px;
	box-shadow: 9px 9px 16px rgba(189, 196, 255, 0.25), -9px -9px 16px #FFFFFF;
	border-radius: 5px;
	
	&:nth-child(1),
	&:nth-child(3) {
		margin-right: 1.69%;
	}

	&:nth-child(3),
	&:nth-child(4) {
		margin-bottom: 0;
		padding: 59px 60px 58px 45px;
	}
}

.minset__picWrapper {	
	width: 23.35%;
	margin-right: 9.26%;
}

.minset__pic {
	padding: 5px;
	box-shadow: -4px -4px 4px #FFFFFF, 4px 4px 8px rgba(189, 196, 255, 0.25);

	& img {
		display: block;
		width: 100%;
		height: auto;
	}
}

.minset__description {
	width: 67.36%;
}

.minset__subtitle {
	margin-bottom: 18px;
	text-align: left;
}

.minset__text {
	text-align: left;
}




/* ===== Стили order ===== */

.order {
	padding: $block-padding;
	background: $bg-light;
}

.order__wrapper {
	display: flex;
	justify-content: space-between;
}

.order__item {

	&:first-child {
		width: 49.06%;
		margin-right: 1.69%;
	}

	&:last-child {
		width: 49.23%;
	}
}

.order__title {
	text-align: left;
}

.order__text {
	margin-bottom: 0;
	text-align: left;
}

.order__step {
	display: flex;
	justify-content: space-between;
	margin-bottom: 20px;

	&:last-child {
		margin-bottom: 0;
	}

	& .order__text {
		width: 89.15%;
	}
}

.order__logo {
	width: 38px;
	height: 38px;
	display: flex;
	justify-content: center;
	align-items: center;
	background: $bg-btn-dark;
	border-radius: 5px;
}